<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>

    <div class="card" th:fragment="product">
        <div class="card-body" data-th-attr="data-node-se=${'product-' + product.productId}" >
            <div class="card-header h1">
                <a th:href="@{'/product/' + ${product.productId}}" th:inline="text" >[[${product.name}]]</a>
            </div>

            <div class="card-text">
                <div th:text="${product.description}" class="panel-body">Description</div>

                <div class="row">
                    <div class="col-md-6"></div>
                    <div th:inline="text"
                         data-node-se="price"
                         class="col-md-3">Price: $[[${product.price}]]</div>
                    <div th:inline="text"
                         data-node-se="stock"
                         class="col-md-3">In Stock: [[${product.quantityInStock}]]</div>
                </div>

                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3"
                         data-node-se="quantity"
                         th:if="${!productMap.isEmpty()}"
                         th:inline="text">Quantity in cart: [[${productMap.get(product)}]]</div>
                </div>

                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <a data-node-se="remove-button"
                           th:href="@{'/shoppingCart/removeProduct/{id}'(id=${product.productId})}"
                           th:if="${productMap.get(product) != null && productMap.get(product) > 0}">
                            <button type="button" class="btn btn-danger" th:text="Remove">Remove</button>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a data-node-se="add-button"
                           th:href="@{'/shoppingCart/addProduct/{id}'(id=${product.productId})}"
                           th:if="${product.quantityInStock}>0">
                            <button type="button" class="btn btn-primary">Add to cart</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>